
*.stash

Makefile

*.lproj

simple-qt-gui.app/Contents/PkgInfo

simple-qt-gui.app/Contents/MacOS/simple-qt-gui

*.plist

*.o

moc_mainWindow.cpp

moc_predefs.h

moc_channelWindow.cpp

moc_channelWindow.cpp
